.footer {
  background-color: var(--header-color);
  color: #fff;
  padding: 0.5rem;
  margin-top: 1rem;
}
.footer-bottom {
  margin-top: 1rem;
  text-align: center;
  color: black;
  font-family: "Press Start 2P", system-ui;
}
