.header {
  position: sticky;
  top: 0;
  background-color: #b5e48c;
  display: flex;
  justify-content: flex-start;
  height: 4.5rem;
  width: 100%;
  z-index: 1000;
}

.header h1 {
  align-items: center;
  margin-top: 1rem;
}

.header image {
  color: var(--sidebar-color);
}
