/* Mobile-first styles */
@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .header h1 {
    margin-top: 0.2rem;
    .header img {
      max-width: 5rem;
    }
  }
  aside {
    flex: 100%;
    flex-wrap: wrap;
  }
  .episode-container {
    margin: 1rem;
  }

  .imgcover {
    max-height: auto;
  }

  .episode-container h2 {
    font-size: 1.2rem;
  }
  .footer {
    padding: 0.5rem;
    text-align: center;
  }

  .footer-bottom {
    margin-top: 1rem;
    text-align: center;
  }
  section {
    flex: 100%;
    padding: 1rem;
  }

  .episode-container {
    margin: 1rem;
    padding: 1rem;
  }

  .episode-datas {
    height: auto;
  }

  .imgcover {
    height: auto;
    width: 100%;
  }

  .character-card {
    width: 100%;
  }
}
