/* Mobile-first styles */
@media only screen and (max-width: 768px) {
  .header {
    height: auto; /* Allow the height to adjust based on content */
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center items horizontally */
    align-items: center;
  }
  .header h1 {
    margin-top: 0.2rem; /* Add some space between the logo and the title */
  }
  .header img {
    max-width: 5rem; /* Adjust the size as needed */
  }
  aside {
    flex: 100%;
    flex-wrap: wrap;
  }
  .episode-container {
    margin: 1rem; /* Adjust margin for better spacing on small screens */
  }

  .imgcover {
    max-height: auto; /* Adjust the maximum height as needed */
  }

  .episode-container h2 {
    font-size: 1.2rem; /* Adjust font size for better readability on small screens */
  }
}
