@import url(./header.css);
@import url(./sidebar.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./characters.css);
@import url(./media.css);
:root {
  --primary-color: #c7f9cc;
  --secondary-color: #168aae;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffae0;
}
