@import url(./header.css);
@import url(./sidebar.css);
@import url(./main.css);
@import url(./footer.css);
:root {
  --header-color: #80ee99;
  --sidebar-color: #168aae;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  padding: 0;
  background-color: #34a0a4;
}
